<div class="container">

  <!-- Top -->
  <div class="top">
    <div class="logo">
      <img src="./assets/instagramLogo.png" alt="instagram logo">
    </div>
    <div class="topIcons"> 
      <a><span class="material-symbols-outlined md-40">add_box</span></a>
      <a><span class="material-symbols-outlined md-40">favorite</span></a>
      <a><span class="material-symbols-outlined md-40">offline_bolt</span></a>
    </div>
  </div>
  <div class="placeholder"></div>

  <!-- Scroll -->
  <div class="scroll">
    <swiper
      [config]="config"
      [spaceBetween]="10">
      <ng-template swiperSlide *ngFor="let item of items">
        <div class="imgScroll">
          <img [src]=item.foto alt="">
        </div>
      </ng-template>
    </swiper>
  </div>

  <!-- Grid -->
  <div class="grid">
    <div *ngFor="let item of items" class="imgGrid" >
        <img [src]=item.foto alt="">
    </div>
  </div>
  <!-- Bottom -->
  <div class="bottom">
    <a class="material-symbols-outlined md-48">home</a>
    <a class="material-symbols-outlined md-48">search</a>
    <a class="material-symbols-outlined md-48">slideshow</a>
    <a class="material-symbols-outlined md-48">shopping_bag</a>
    <a class="profileImg">
      <img src="./assets/10.jpg" alt="">
    </a>
  </div>
  <div class="placeholder"></div>

<!-- End Container -->
</div>

<router-outlet></router-outlet>
